#bgcolour-balin {
  background-color: #2991cc ;
}

#bgcolour-austin {
  background: linear-gradient(270deg, #5bcd3f, #3067d2, #ab1bcf, #e61f1f);
  background-size: 400%;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#bgcolour-daniel {
  background-color: #a2ee7a ;
}

#bgcolour-dom {
  background-color: #33a612 ;
}

#bgcolour-jon {
  background-color: #ff00de ;
}
