body {
  animation: Rotate-Webpage 20s linear ;
  transform:rotate(1deg) ;
  background-color: #c5feea ;
}

.hyperlink {
  color: #000000 ;
  text-decoration: none ;
  transition: 0.5s ;
}

.hyperlink:hover {
  color: #a2a2a2 ;
  text-decoration: none ;
}

li.nav-item.active > a {
  transform:rotate(-7deg) ;
  color: #c5feea;
}

li.nav-item.active > a.navbar-item, li.nav-item.active > a.navbar-item:hover{
  background-color: rgba(0,0,0,0);
}
li.nav-item.active > a.navbar-item {
  color: rgb(197, 254, 234);
}

li.nav-item.active:hover > a.navbar-item {
  text-shadow: 0px 0px 5px rgba(197, 254, 234, 0.7);
  color: rgb(197, 254, 234);
}

li.nav-item:not(.active):hover > a {
  animation: Rotate-Link 3s infinite ;
}

.navbar-inverse .navbar-nav>li>a{
  color: #b1b0b0 ;
  transition: 0.5s ;
}

.navbar-inverse .navbar-brand {
  color: #b1b0b0 ;
  transition: 0.5s ;
}

h3.list-group-item-header {
  background-color: rgba(255, 255, 255, 0.85) ;
}

p.list-group-item-text {
  background-color: rgba(255, 255, 255, 0.85) ;
}

.text-content {
  font-size: 18px ;
}

div#content.container {
  padding-top: 70px ;
  z-index: -1 ;
}

#credits h1 {
  position: relative ;
  z-index: 1 ;
}

.list-group-item {
  background-position: 0px 0px ;
  overflow: hidden ;
}

#group-balin {
  background-color: #2991cc ;
  background-image: url("sapphire.png");

  -webkit-animation: Balin-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  -moz-animation: Balin-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  animation: Balin-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
}

#group-daniel {
  background-color: #a2ee7a ;
  background-image: url("tubbs.png") ;

  -webkit-animation: Daniel-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  -moz-animation: Daniel-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  animation: Daniel-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
}

#group-austin {
  background-color: #a2ee7a ;
  background-image: url("ramses.png");

  -webkit-animation: Austin-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  -moz-animation: Austin-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  animation: Austin-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
}

#group-jon {
  background-color: #ff00de ;
  background-image: url("melange.png") ;

  -webkit-animation: Jon-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  -moz-animation: Jon-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  animation: Jon-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
}

#group-dom {
  background-color: #33a612 ;
  background-image: url("bengal.png") ;

  -webkit-animation: Dom-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  -moz-animation: Dom-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 1s linear alternate infinite ;
  animation: Dom-Flash 0.5s linear infinite,
                      Sweep-Bg 5s linear alternate infinite,
                      Rotate-Bg 5s linear alternate infinite ;
}

@keyframes Sweep-Bg {
  from { background-position: 0 0 ;}
  to { background-position: 100% 0 ;}
}

@keyframes Rotate-Bg {
  from { transform:rotate(-5deg) ;}
  to { transform:rotate(5deg) ;}
}

@keyframes Rotate-Webpage {
  from { transform:rotate(0deg) ;}
  to { transform:rotate(1deg) ;}
}

@keyframes Rotate-Link {
  from { transform:rotate(0deg) ;}
  to { transform:rotate(-5deg) ;}
}

@keyframes Balin-Flash {
  0%   {background-color:#62f935; }
  25%  {background-color:#36f9ff; }
  50%  {background-color:#fbff37; }
  75%  {background-color:#ff9900; }
  100% {background-color:#ff00fc; }
}

@keyframes Daniel-Flash {
  0%  {background-color:#36f9ff; }
  25%  {background-color:#fbff37; }
  50%  {background-color:#ff9900; }
  75%  {background-color:#ff00fc; }
  100%  {background-color:#62f935; }
}

@keyframes Austin-Flash {
  0%  {background-color:#fbff37; }
  25%  {background-color:#ff9900; }
  50%  {background-color:#ff00fc; }
  75%  {background-color:#62f935; }
  100%  {background-color:#36f9ff; }
}

@keyframes Jon-Flash {
  0%  {background-color:#ff9900; }
  25%  {background-color:#ff00fc; }
  50%  {background-color:#62f935; }
  75%  {background-color:#36f9ff; }
  100%  {background-color:#fbff37; }
}

@keyframes Dom-Flash {
  0%  {background-color:#ff00fc; }
  25%  {background-color:#62f935; }
  50%  {background-color:#36f9ff; }
  75%  {background-color:#fbff37; }
  100%  {background-color:#ff9900; }
}
